/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    /* Shadows */
    --boxshadow-h: 0;
    --boxshadow-v: 0;
    --boxshadow-blur: 4px;
    --boxshadow-spread: 4px;
    /* Search Shadow */
    --boxshadow-hsearch: 0;
    --boxshadow-vsearch: 0;
    --boxshadow-blursearch: 5px;
    --boxshadow-spreadsearch: 5px;

    /* Row Color */
    --rowonebg-color: #ffffff02;

    --shadowbg-color: #ffffff33;
    /* Home Color */
    --primary-color: #00d395;

    /*Background Color*/  
    --body-color: #18191a;
    --sidebar-color: #242526;
    --text-color: #ccc;

    /*Profile Card Colors*/
    --profilebg-color: #ffffff0d;
    --profileshadow-color: #00000033;
    --profiletext-color: #fff;

    /* Trials Rising */
    --rising-color: #0dd925;
    --hof-color: #e5f01a;
    --players-color: #EC6768;
    --coins-color: #652cde;

    /* Data Table */
    --width-title: 1500px;
    --heigth-title: 60px;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    z-index: 100;  
}
/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    /* Originally margin-left: 15px, only use this if you add a logo!*/
    margin-left: 80px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    font-weight: 600;
    margin-top: -2px;
    /* Originally there is no margin left, so remove it if you add a logo!*/
    margin-left: 57px;
    display: block;
    color: #00d395;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

div#mainMenu li a:hover{
    background-color: var(--primary-color);
}
div#risingMenu li a:hover{
    background-color: var(--rising-color);
}

div#hofMenu li a:hover{
    background-color: var(--hof-color);
}

div#playersMenu li a:hover{
    background-color: var(--players-color);
}

div#coinMenu li a:hover{
    background-color: var(--coins-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}



.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* 

PROFILE CARD

*/

.home .profilecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home .profilecard .container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home .profilecard .container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--profilebg-color);
    margin: 20px;
    box-shadow: 0 15px 35px var(--profileshadow-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.home .profilecard .container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
}

/* Hover affect, change the Opacity above to 0.5 to make it work.
.home .profilecard .container .card:hover .content{
    opacity: 1;
} 
*/

.home .profilecard .container .card .content .imgBox{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--profilebg-color);
    margin-bottom: 20px;
}

.home .profilecard .container .card .content .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .profilecard .container .card .content .titleBox #title{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.home .profilecard .container .card .content .titleBox #titleBottom{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.home .profilecard .container .card .content .descriptionBox #description{
    color: var(--profiletext-color);
    font-size: 14px;
    font-weight: 500;
}

.home .profilecard .container .card .content .descriptionBox #descriptionLine{
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

/* Trials Rising */

#risingName {
    margin-left: 80px;
}

#risingProfession {
    color: var(--rising-color);
    margin-left: 81px;
}

#hofProfession {
    color: var(--hof-color);
    margin-left: 90px;
}

#playersProfession {
    color: var(--players-color);
    margin-left: 76px;
}

/* DataTable Design */

/* Header Color for each table */
#trPlayersBackground {
    color: var(--players-color);
    background-color: var(--body-color);
}

#trHofBackground {
    color: var(--hof-color);
    background-color: var(--body-color);
}

/* Table */

.home .databasecard {
    height: -20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

} 


.table {
    color: rgb(204, 204, 204);
    font-weight: 500;
    border-collapse: collapse;
    box-shadow: var(--boxshadow-h) var(--boxshadow-v) var(--boxshadow-blur) var(--boxshadow-spread) var(--profilebg-color);
    text-align: center;
    border-collapse: collapse;
    width: 98%;
    margin: 0 auto;
}


th {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size:0.7rem;
    font-weight: 800;
}

#playertable th{
    padding: 1rem 0.1rem;
}

#hoftable th {
    padding: 1rem 6rem;
}

td {
    padding: 0.8rem 3rem;
}

td img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 5px solid var(--profilebg-color);
}

.searchInput {
    max-width: 400px;
    width: 100%;
    margin-bottom: 55px;
    margin-left: 20px;
    
}

.searchClass {
    color: #FFF;
    position: absolute;
    height: 35px;
    width: 500px;
    border-radius: 5px;
    background: var(--profilebg-color);
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    box-shadow: var(--boxshadow-hsearch) var(--boxshadow-vsearch) var(--boxshadow-blursearch) var(--boxshadow-spreadsearch) var(--shadowbg-color);
}

tr:nth-child(even) {
    background-color: var(--body-color);
}

tr:nth-child(odd) {
    background-color: var(--rowonebg-color);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px var(--profilebg-color)
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 0 0 6px var(--profilebg-color)

}

/* 

Table Colors 

*/ 

/* Players table design  */
#playersPc {
    color: #c5991f;
}

#playersPs {
    color: #1484e0;
}

#playersXbox {
    color: #04AA6B;
}

#playersSwitch {
    color: #E0143C;
}

#playersRising {
    color: #14e014;
}

#playersEvolution {
    color: #e01414;
}

#playersFusion {
    color: #14c1e0;
}

#playersHD {
    color: #774206;
}

#playersFrontier {
    color: #ce8026;
}

/* Hall of fame table design  */
#rankOne {
    color: #FFD700;
}

#rankTwo {
    color: #C0C0C0;
}

#rankThree {
    color: #CD7F32;
}
