*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #070a0e;
    background-image: url(../../img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

/* Moves the Return button to the right of the site */
nav ul{
    flex: 2;
}

/* Trials Community Text/Color */
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li h1{
    color: #fff;
}

nav ul li h1 span{
    color: #652cde;
}

/* Return Button */
nav .btnReturn {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #652cde;
    padding: 10px 30px;
    border-radius: 20px;
    border-width: medium;
}

/* Trials Coin Text & Button Design*/
#contentCoin{
    display: inline-block;
    margin-top: 2%;
    margin-left: 45%;
}

#contentCoin h2{
    font-size: 34px;
    margin-bottom: 15px;
}

#contentCoin h2 span{
    color: #652cde;
}

#contentCoin #btnCoin{
    display: inline-block;
    color: #fff;
    background: #070a0e;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2px;
    margin-left: 13px;
    padding: 15px 30px;
    border: 1px solid #652cde;
    border-width: medium;
    border-radius: 30px;
}

/* Coin List Row One */
.coin-list{
    position: absolute;
    margin-top: 4%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

/* Bitcoin Design */
.btcCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #daa22a;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.btcCoin img{
    width: 40px;
    margin-right: 10px;
}

.btcCoin p{
    color: #daa22a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#btcPrice{
    color: #daa22a;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#btcPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#btcDollarText {
    color: #daa22a;
}

/* Ethereum Design */
.ethCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #166dbe;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.ethCoin img{
    width: 40px;
    margin-right: 10px;
}

.ethCoin p{
    color: #166dbe;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#ethPrice{
    color: #166dbe;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#ethPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#ethDollarText {
    color: #166dbe;
}


/* Tether Design */
.tetherCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #00d395;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.tetherCoin img{
    width: 40px;
    margin-right: 10px;
}

.tetherCoin p{
    color: #00d395;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#tetherPrice{
    color: #00d395;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#tetherPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#tetherDollarText {
    color: #00d395;
}

/* Cardano Design */
.cardanoCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #2c2fdb;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.cardanoCoin img{
    width: 40px;
    margin-right: 10px;
}

.cardanoCoin p{
    color: #2c2fdb;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#cardanoPrice{
    color: #2c2fdb;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#cardanoPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#cardanoDollarText {
    color: #2c2fdb;
}

/* Solana Design */
.solanaCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #710dfc;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.solanaCoin img{
    width: 40px;
    margin-right: 10px;
}

.solanaCoin p{
    color: #710dfc;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#solanaPrice{
    color: #710dfc;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#solanaPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#solanaDollarText {
    color: #710dfc;
}

/* Avalanche Design */
.avalancheCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #fa3c45;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.avalancheCoin img{
    width: 40px;
    margin-right: 10px;
}

.avalancheCoin p{
    color: #fa3c45;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#avalanchePrice{
    color: #fa3c45;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#avalanchePriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#avalancheDollarText {
    color: #fa3c45;
}

/* Litecoin Design */
.ltcCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    border: 1px solid #cccccc;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.ltcCoin img{
    width: 40px;
    margin-right: 10px;
}

.ltcCoin p{
    color: #cccccc;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#ltcPrice{
    color: #cccccc;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#ltcPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#ltcDollarText {
    color: #cccccc;
}

/*

ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO
ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO ROW TWO

*/


/* Loopring Design */
.loopringCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #2c2fdb;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.loopringCoin img{
    width: 40px;
    margin-right: 10px;
}

.loopringCoin p{
    color: #2c2fdb;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#loopringPrice{
    color: #2c2fdb;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#loopringPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#loopringDollarText {
    color: #2c2fdb;
}

/* Polygon Design */
.polygonCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #9e34eb;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.polygonCoin img{
    width: 40px;
    margin-right: 10px;
}

.polygonCoin p{
    color: #9e34eb;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#polygonPrice{
    color: #9e34eb;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#polygonPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#polygonDollarText {
    color: #9e34eb;
}

/* Polkadot Design */
.polkadotCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #e625bc;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.polkadotCoin img{
    width: 40px;
    margin-right: 10px;
}

.polkadotCoin p{
    color: #e625bc;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#polkadotPrice{
    color: #e625bc;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#polkadotPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#polkadotDollarText {
    color: #e625bc;
}

/* Cro Design */
.croCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #11649c;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.croCoin img{
    width: 40px;
    margin-right: 10px;
}

.croCoin p{
    color: #11649c;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#croPrice{
    color: #11649c;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#croPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#croDollarText {
    color: #11649c;
}

/* Algorand Design */
.algorandCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #cccccc;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.algorandCoin img{
    width: 40px;
    margin-right: 10px;
}

.algorandCoin p{
    color: #cccccc;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#algorandPrice{
    color: #cccccc;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#algorandPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#algorandDollarText {
    color: #cccccc;
}

/* Chainlink Design */
.chainlinkCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #166dbe;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.chainlinkCoin img{
    width: 40px;
    margin-right: 10px;
}

.chainlinkCoin p{
    color: #166dbe;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#chainlinkPrice{
    color: #166dbe;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#chainlinkPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#chainlinkDollarText {
    color: #166dbe;
}

/* Cosmos Design */
.cosmosCoin{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7%;
    border: 1px solid #4a4f75;
    padding: 20px 30px;
    border-width: medium;
    border-radius: 20px;
}

.cosmosCoin img{
    width: 40px;
    margin-right: 10px;
}

.cosmosCoin p{
    color: #4a4f75;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

#cosmosPrice{
    color: #4a4f75;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#cosmosPriceText{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

#cosmosDollarText {
    color: #4a4f75;
}