*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #070a0e;
    background-image: url(../../img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

.logo{
    width: 50px;
    cursor: pointer;
}

#mainNav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}


/* Moves the Return button to the right of the site */
#mainNav ul{
    flex: 2;
}

/* Trials Rising Text/Color */
#mainNav ul li{
    display: inline-block;
    margin: 10px 20px;
}

#mainNav ul li h1{
    color: #fff;
}

#mainNav ul li h1 span{
    color: #00d395;
}

/* Return Button */
#mainNav .btnReturn {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #00d395;
    padding: 10px 30px;
    border-radius: 20px;
    border-width: medium;
}

/* Sub Nav Design, Shared */
#subNav ul{
    text-align: center;
}

#subNav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    border-width: medium;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

/* Button Design */
#mainlbButton{
    color: blue;
    border: 1px solid #00d395;
}

#trialslbButton{
    color: red;
    border: 1px solid #00d395;
}

#stadiumlbButton{
    color: green;
    border: 1px solid #343837;
}

#ninjalbButton{
    color: green;
    border: 1px solid #343837;
}
#skilllbButton{
    color: green;
    border: 1px solid #343837;
}
